#I'm not allowed to redistribute the ref and datasheets
#but i'll link them in the readme
stmref/*
!stmref/README.md

# ==========================================
# CMake & Build-Ordner
# ==========================================
build/
.cmake/
CMakeUserPresets.json

# ==========================================
# LaTeX 
# ==========================================
*.aux
*.log
*.toc
*.synctex.gz
*.pdfsync
*.blg
*.bbl
*.out
*.fdb_latexmk
*.fls


# ==========================================
# KiCad (PCB) 
# ==========================================
*.bak
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.kicad_prl
*.fp-info-cache

PCB/*.rpt
#kicad uses also git under the hood, ignore it...
**/.history/
